<div id="<%= dom_id oscillator %>">
  <p>
    <strong>Frequency:</strong>
    <%= oscillator.frequency %>
  </p>

  <p>
    <strong>Wave:</strong>
    <%= oscillator.wave %>
  </p>

  <p>
    <strong>Detune:</strong>
    <%= oscillator.detune %>
  </p>

</div>
