<h1>Editing oscillator</h1>

<%= render "form", oscillator: @oscillator %>

<br>

<div>
  <%= link_to "Show this oscillator", @oscillator %> |
  <%= link_to "Back to oscillators", oscillators_path %>
</div>
