<p style="color: green"><%= notice %></p>

<h1>Oscillators</h1>

<div id="oscillators">
  <% @oscillators.each do |oscillator| %>
    <%= render oscillator %>
    <p>
      <%= link_to "Show this oscillator", oscillator %>
    </p>
  <% end %>
</div>

<%= link_to "New oscillator", new_oscillator_path %>
